<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Calisto

        link(rel="stylesheet", href="bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", href="icofont/icofont.min.css")
        link(rel="stylesheet", href="css/owl.carousel.min.css")
        link(rel="stylesheet", href="css/main.css")

        script(src="js/jquery.min.js")
        script(src="bootstrap/js/bootstrap.min.js")
        script(src="js/owl.carousel.min.js")
        script(src="js/main.js")
    body
        .sectioned
            .contained
                .container
                    .wrapper.shadow-lg
                        header
                            ul.nav
                                li.nav-item.active
                                    a(href="./index.html").nav-link Shop
                                li.nav-item
                                    a(href="./about.html").nav-link About
                                li.nav-item
                                    a(href="").nav-link Contact
                            i.icofont-navigation-menu.toggle

                        .banner-img.set-bg(data-setbg="imgs/banner.jpg")
                            h1 CALISTO PARK

                        
                        .content-sec
                            .container
                                .top
                                    h2 Who We Are
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ad eveniet repellendus corrupti pariatur, atque fugiat a nisi tempora, sint tenetur? Quia odit iure cum eligendi vel dicta, sint doloribus?

                                    a(href="./story.html" class="read-btn") READ OUR STORY
                                        i.icofont-simple-right

                                hr 

                                .middle.text-center
                                    h4 Featured Products

                                    .img-sec.owl-carousel
                                        .img-box
                                            .set-bg(data-setbg="imgs/hovering1.jpg")
                                            p Yellow Beauty
                                            .price $100.03
                                        .img-box
                                            .set-bg(data-setbg="imgs/hovering2.jpg")
                                            p Grey Beauty
                                            .price $100.03
                                        .img-box
                                            .set-bg(data-setbg="imgs/hovering3.jpg")
                                            p Red Beauty
                                            .price $100.03

                                    a(href="" class="shop-btn") SHOP ALL


                                hr

                                .bottom
                                    h6 SIGN UP FOR OUR NEWS LETTERS
                                    form(action="" id="testform" )
                                        input(type="email", name="email" value="")
                                        button(type="submit" id="submitButton") SUBMIT

                        

                        .footer
                            .row.p-0.m-0
                                .left
                                    h5 Follow Us
                                    ul
                                        li
                                            a(href="https://www.facebook.com") FACEBOOK
                                        li
                                            a(href="https://www.instagram.com") INSTAGRAM

                                .right
                                    .first
                                        h5 Shop
                                        ul
                                            li
                                                a(href="") KITCHEN
                                            li
                                                a(href="") BATHROOM
                                            li
                                                a(href="") LAUNDRY
                                            li
                                                a(href="") PET CARE
                                    .second
                                        h5 info
                                        ul
                                            li
                                                a(href="") SHIPPING INFORMATION
                                            li
                                                a(href="") RETURNS & EXCHANGES
                                            li
                                                a(href="") FAQ

                            .bottom
                                .logo
                                .text
                                    p we offer our customers great deals