<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Calisto: Our Story

        link(rel="stylesheet", href="bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", href="css/main.css")

        script(src="js/jquery.min.js")
        script(src="bootstrap/js/bootstrap.min.js")
        script(src="js/main.js")
    body
        section
            .wrapping
                .story.shadow-lg
                    .story-img.set-bg(data-setbg="imgs/banner.jpg")
                    .text-sec
                        h1 What We Do
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque totam dolorem pariatur incidunt facilis qui in numquam, illum eligendi ex, perferendis provident earum recusandae alias asperiores cum blanditiis magni aliquid.